@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply motion-safe:scroll-smooth;
  }

  html,
  body {
    @apply relative w-full overflow-x-hidden bg-gray-15 text-white;
  }

  img {
    @apply h-auto max-w-full select-none bg-cover bg-no-repeat align-middle italic;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply max-w-[75ch];
  }

  /* prevent the changing in the background color and 
  the text color in inputs when auto fill in chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
  }
}

@layer components {
  /* style toast in react hoot toast */
  .toast {
    @apply rounded-md border-2 border-solid border-white bg-gray-15 text-white transition-all;
  }
}
